@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    list-style-type:none;
    text-decoration: none;
}
/* variable declarations */
:root{
    --main-color: #8441b4;
    --color-dark:#1D2231;
    --text-grey:#8390A2;
}
.side-item{
    display: flex;
   flex-direction: column;
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main-color);
    z-index: 100;
}
.page{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
    margin-top: 10%;
}
.page span{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #fff;
}
.side-menu{
    margin-top: 3rem;
}
.side-menu li{
width: 100%;
margin-bottom: 1.3rem;
padding-left: 2rem;
}
.side-menu a{
    display: block;
    padding-left: 1rem;
    color: #fff;
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.side-menu a.active:hover{
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
}
.side-menu a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;

}
.main-item{
    margin-left: 345px;
}
.side-menu button{
   border: none;
   border-radius: 30px 0px 0px 30px;
}
.side-menu li button{
    width: 100%;
    margin-bottom: 1.3rem;
    padding-left: 0rem;
    }
.side-menu button{
    display: block;
    padding-left: 0rem;
    color: #fff;
    background-color:var(--main-color) ;
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 11rem;
}
.side-menu button.active:hover{
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
}
.side-menu button span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;

}
.user-container{
    margin-top: 5px;
    padding: 4rem ;
    background: #fff;
    position: fixed;
    left: 345px;
    min-height: calc(100vh - 90px);
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#align-num{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ra-btn{
    display: flex;
}
.name{
    padding: 1rem 2rem 1rem 0.8rem;
    width: 25em;
    font-size: 16px;
    border-radius: 5px;
    border: 0.5px solid #ccc;
    
 }

 form label{
    font-size: 1.1em;
    padding-bottom: 1rem;
 }
 form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px;
    gap: 40px;
 }
#form button{

    padding: 1rem;
    width: 20em;
    color: #fff;
   background-color:var(--main-color);
 }
 #form button:hover{
    color: #fff;
    background-color:orange;
 }
/* .user-war{
    display: flex;
    align-items: center;

}
.user-war img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 1rem;
}
.user-war small{
display: inline-block;
color: var(--text-grey);
} */
/* main{
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);
}

.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}
.single-card{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
}
.single-card div:last-child span{
    font-size: 3rem;
    color: var(--main-color);
}
.single-card div:first-child span{
 color: var(--text-grey);
} */


