@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    cursor: pointer;
}

/* variable declarations */
:root {
    --heading-font: 'Barlow', sans-serif;
    --phara-font: 'Fraunces', serif;
    --additional-font: 'Prompt', sans-serif;
    --primary: black;
    --secondary-clr: #ff860f;
    --hover-clr: #3F0071;
    --search-nav-color: #4e3d9a;
    --white-color: white;
    --nav-font-size: 110%;
    --button-font: 90%;
    --sub-p: 150%;
    --box-shadow: 0 4px 5px 0px #00000026;
    --box-shadow2: 0px 0px 5px 1px #00000080;
    --pharagraph-font-size: 20px;
    --box-phara-font-size: 16px;
    --text-color: #74787c;
    --btn-color: #ff860f;
    --btn-hover: #3F0071;
    --h1-font: 61px;
    --complain-hover-color: #d12616;
}

header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    height: 100px;
    box-sizing: border-box;
    box-shadow: 5px 0px 5px 0px #0000002c;
    /* position: sticky;
    top: 0; */
}

.logo {
    margin-top: 2.5%;
}

.live-on {
    width: 7%;
    margin-left: 5%;
}

.live {
    width: 17%;
}

.center {
    margin-top: 2.7%;
    margin-right: 35%;
}

.center ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.center li {
    padding-left: 25%;
    font-size: 1.1em;
    font-weight: medium;
    cursor: pointer;
}

.center .list a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.center a:hover {
    color: var(--hover-clr);
    font-weight: 600;
}

.center .cen-ul .list::after {
    content: '';
    background-color: var(--btn-color);
    display: block;
    height: 2px;
    width: 0%;
    margin: auto;
    transition: 0.3s;

}

.center .cen-ul .list:hover::after {
    width: 100%;
}

.user {
    margin-top: 2.2%;
    margin-right: 13%;
}

.user ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.user li {
    padding: 15px;
}

.user,
.profile {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    bottom: 9px;
}

/* This is drop down menu nave bar */
.service {
    border: none;
    background: none;
    font-size: 1em;
    font-weight: medium;
    cursor: pointer;
}

.sub-service ul {
    list-style: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    color: white;
    background-color: var(--white-color);
    width: 190px;
    height: 130px;
    position: relative;
    right: 50px;
    top: 20px;
    z-index: 3;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    display: none;
}

.cen-ul :nth-child(3) i {
    position: relative;
    left: 50px;
    bottom: 22px;
}

.service:hover .sub-service ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    color: white;
    background-color: var(--white-color);
    width: 190px;
    height: 130px;
    position: absolute;
    right: 570px;
    top: 70px;
    z-index: 3;
    border-style: groove;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
}

/* This is second navbar */
.nav-container {
    position: sticky;
    top: 0;
    z-index: 2;
}

.main-nav {
    display: flex;
    justify-content: space-around;
    background-color: #4e3d9a;
    height: 100px;
    /* box-shadow: var(--box-shadow2); */
}

.main-nav p {
    color: white;
}

.main-nav p:hover {
    color: var(--secondary-clr);
}

.email-item {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

.search-bar {
    margin-top: 25px;
    /* display: flex;
    align-items: center; */
}

input {
    padding-left: 20px;
    height: 50px;
    width: 600px;
    font-size: var(--button-font);
    color: var(--text-color);
    border-radius: 7px;
    border-style: none;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 1px 1px 4px;
}

.search-bar i {
    /* margin-right: 20%; */
    color: var(--text-color);
    position: relative;
    right: 40px;
}

.main-nav img {
    height: 50px;
    margin-right: 5PX;
    filter: invert(99%) sepia(68%) saturate(117%) hue-rotate(267deg) brightness(112%) contrast(94%);
}

.main-nav img:hover {
    filter: invert(67%) sepia(82%) saturate(3346%) hue-rotate(351deg) brightness(100%) contrast(102%);
}

.call-item a {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-right: 80px;
}

.call-item a {
    text-decoration: none;
    color: var(--primary);
}

span {
    margin-top: 6px;
    margin-left: 10px;
}

.bp-item {
    font-size: 1.2rem;
    font-weight: 600;
}

/* Cart section */
.card-section {
    height: 500px;
    border: solid #000;
}
.card-section h2{
    text-align: center;
    font-size: 2.5rem;
}
.cart{
    /* background-color: #8741c9; */
    width: 700px;
    /* width: 1200px;
    height: 120px; */
    display: flex;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    margin-left: 150px;
}
.first-cart img{
    width: 150px;
    height: 150px;
    background-color: var(--white-color);
    border-radius: 6px;
}
.second-cart{
    display: flex;
    height: 120px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* width: 500px; */
}
#name{
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    
}
#price{
    font-size: 20px;
    font-weight: 600;
}
.star{
    width: 40px;
}
.remove button{
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    border-radius: 4px;
    border: none;
}
.remove button:hover{
    background-color: #4e3d9a;
}
.remove i{
    padding-right: 10px;
}
/* This is quantity incres */
.count{
    /* background: #b16abd; */
	display: flex;
    justify-content: space-evenly;
    align-items: center;
	font-size: 1.2rem;
    padding-bottom: 5px;
    width: 140px;
    height: 40px;
    padding-right: 10px;
    /* margin-left: 3%; */
    border: solid 0.1px rgba(0, 0, 0, 0.174);
    border-radius: 4px;
    box-shadow: var(--box-shadow);
}
/* .count:hover{
 background-color: rgb(149, 44, 187);
} */
.num{
    padding: 2px 15px; 
    border-left: 1px rgb(0, 0, 0) solid;
    border-right: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    background-color: white;
	box-shadow: 0 1em 2em -0.9em rgba(#000, 0.7);
	transform: scale(1);
}
.minus,.plus{
    padding: 4px 15px; 
    background-color: white;
    border-radius: 4px;
}
/* // IGNORE
body {
	background: #3b70fc;
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	justify-content: center;
	align-items: center;
	height: 100vh;
} */

/* .qty-input {
    margin-top: 4%;
	border-radius: 4px;
	box-shadow: 0 1em 2em -0.9em rgba(#000, 0.7);
	transform: scale(1.5);
} */
