@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    cursor: pointer;
}

/* variable declarations */
:root {
    --heading-font: 'Barlow', sans-serif;
    --phara-font: 'Fraunces', serif;
    --additional-font: 'Prompt', sans-serif;
    --primary: black;
    --secondary-clr: #ff860f;
    --hover-clr: #3F0071;
    --search-nav-color: #4e3d9a;
    --white-color: white;
    --nav-font-size: 110%;
    --button-font: 90%;
    --sub-p: 150%;
    --box-shadow:  rgba(0, 0, 0, 0.12) 0px 1px 3px 0px, rgba(0, 0, 0, 0.24) 0px 1px 2px 0px;;
    --box-shadow1: rgba(0, 0, 0, 0.16) 0px 3px 6px 0px, rgba(0, 0, 0, 0.23) 0px 3px 6px 0px;
    --pharagraph-font-size: 20px;
    --box-phara-font-size: 16px;
    --text-color: #74787c;
    --btn-color: #ff860f;
    --btn-hover: #3F0071;
    --h1-font: 61px;
    --complain-hover-color: #d12616;
}
header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: auto;
    box-sizing: border-box;
    box-shadow: 5px 0px 5px 0px #0000002c;
    position: sticky;
    top: 0;
    z-index: 2;
}
/* .logo {
    margin-top: 2.5%;
} */
.live-on {
    width: 25px;
    /* margin-left: 5%; */
}
.live {
    width: 70px;
}

.center {
    display: flex;
    margin-top: 1.5%;
    margin-left: 4%;
    /* margin-right: 35%; */
}

.center ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.center li {
    padding-left: 25%;
    font-size: 1.1em;
    font-weight: medium;
    cursor: pointer;
}

.center .list a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.center a:hover {
    color: var(--hover-clr);
    font-weight: 600;
}

.center ul li::after {
    content: '';
    background-color: var(--btn-color);
    display: block;
    height: 2px;
    width: 0%;
    margin: auto;
    transition: 0.3s;

}

.center ul li:hover::after {
    width: 100%;
}

.user {
    margin-top: 1.6%;
    margin-right: 5%;
}

.user ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 130px;
}
/* This is about head section */
.about-us{
    /* background: #6a3093;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #a044ff, #6a3093);   Chrome 10-25, Safari 5.1-6  */
    /*background: linear-gradient(to right, #a044ff, #6a3093);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* height: 14em;
    color: white;
    border: solid; */
}
.about-us img{
    width: 1480px;
    height: 400px;
   /* display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   border: solid;
   padding-top: 4%; */
}
.about{
    position: relative;
    /* top: -380px; */
bottom: 380px;
    width: 1480px;
    height: 350px;
    background-color: #04040486;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.about h2{
 margin-top: 9%;
 margin-left: 50px;
    font-size: 4em;
  
}
.about p{
   align-items: center;
    letter-spacing: 0.1em;
    font-weight: 500;
    width: 45%;
    padding-top: 1%;
    margin-left: 50px;
}
/* This is our first section */
.first-part{
    display: flex;
    justify-content: space-between;
    margin-left: 8%;
    margin-right: 8%;
}
.left-part{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 26vh;
    width: 24em;
align-items: center;
/* border: solid; */
background-color: #7517d9;
color: white;
border-radius: 0.6em;
}
.left-part:hover{
    /* color: #6a3093;
    background-color: white; */
    box-sizing: border-box;
    border: solid 0.5px;
    font-weight: normal;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.372);
}
.live-phara{
/* margin-left: 20%;
margin-right: 20%; */
width: 68%;
border: solid 0.5px;
padding: 1em 2em;
background-color: #7517d9;
color:  #ffffff;
letter-spacing: 0.09em;
border-radius: 0.6em;
box-sizing: border-box;
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.372);
}
.live-phara:hover{
    /* background-color: #6a3093;
color: white; */
font-weight: normal;
}
.a-head{
    font-size: 2em;
    font-weight: 600;  
}
.b-head{
    width: 22em;
    font-size: 1em;
    letter-spacing: 0.05em;
    text-align: center;
}
/* This Over view split part */
main{
 position:absolute;
 top: 570px;
}
.contaion{
    /* background-color: #f8c28f64; */
}
.contaion-item{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    height: 40vh;
}
.min-phara{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 27vh;
   border-left: 5px solid #7517d9;
   border-right: 5px solid #7517d9;
   border-radius: 6px;
   box-shadow: var(--box-shadow);
   margin-top: 3em;
   padding: 1em 1em;
   margin-left: 2em;
   background-color: white;
}
.min-phara p{
    width: 43em;
}
.big-phara{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-right: 5px solid #7517d9;
    border-left: 5px solid #7517d9;
   background-color: white;
   box-shadow: var(--box-shadow);
   margin-top: 3em;
   padding: 0em 1em;
   width: 33em;
   height: 27vh;
   border-radius: 6px;
   margin-right: 2em; 
}
.big-phara .sub-text {
    font-size: 2.5em;
    font-weight: 600;
}
.big-phara p{
    font-size: 1rem;
}
/* This is our Advantage section */
.advantages{
    background-color: #e3d7ff;
    padding-top: 20px;
    height: 75vh;
    margin-top: 2%;
}
.advantages h2{
    text-align: center;
    font-size: 3em;
    font-weight: 600;
    margin-top: 50px;
}
.first-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin: 5% 4%;
    gap: 50px;
   
}
.servicess{
background-color: #ffffff;
height: 20vh;
display: flex;
align-items: center;
width: 26rem;
padding: 0px 40px ;
border-top: 10px solid #ff860f;
 border-radius: 6px;
}
.content{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
width: 28em;
height: 14vh;
}
.c-head{
    font-size: 1rem;
    font-weight: bold;
}
.content p{
   text-align: center;
}
/* This is footer */
footer {
    margin-top: 5%;
    height: 30vh;
}

.footer-item {
    display: flex;
    margin-left: 4%;
    margin-right: 7%;
}

.sub-item {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin-right: 8%;
}

.main-item .logo {
  margin-left: 15%;
}

.main-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.disicription p {
    width: 300px;
    margin-top: 6%;
}

.main-item .live-on {
    width: 10%;
}

.main-item .live {
    width: 25%;
}

.about-item, .contact-item p {
    font-size: 1.5rem;
}

.about-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.contact-item p{
    margin-left: 23%;
}
.contact-item .application{
   margin-top: 20%;
}
.about-item ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 9%;
}

.about-item ul li {
    font-size: 1rem;
    padding-top: 10px;
}
.application{
    display: flex;
    justify-content: space-between;
}
.application i{
    font-size: 1.5rem;
    margin-left: 1.5rem;
}
.copy-right{
    background: #87b9ea;
    margin-top: 1%;
}
.copy-right p{
     padding: 20px;
     text-align: center;
     font-size: 110%;
}

