@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
/* variable declarations */
:root{
    --primary:black;
    --secondary: #6fcbd6;
    --white-color:white;
    --button-font: 16px;
    --box-shadow: 0 4px 5px 0px #00000026;
    --box-shadow2: 0px 0px 5px 1px #00000080;
    --pharagraph-font-size:20px;
    --box-phara-font-size:16px;
    --nav-font-size:18px;
    --text-color:#74787c;
    --btn-color:#82b440;
    --h1-font: 61px;
    --complain-hover-color:#d12616;
}
.header{
    background-color:#163891;
    color:var(--white-color);
    display: flex;
    justify-content: space-between;
    height: 100px;
    box-sizing: border-box;
    box-shadow: var(--box-shadow);

}
.logo{
    margin-top: 2.5%;
}
.logo img{
    width: 110px;
    margin-left: 55%;
}
.center{
    margin-top: 2.5%;
    margin-right: 5%;
}
.center ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.center li{
    padding-left: 50px;
    font-size: var(--nav-font-size);
    font-weight: medium;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: var(--white-color);
}
ul li::after{
    content: '';
    background-color:white;
    display: block;
    height: 2px;
    width: 0%;
    margin: auto;
    transition: 0.3s;

}
.center li:hover::after{
    width: 100%;
}
/* .contact{
    margin-top: 2.2%;
    margin-right: 3%;
}
.contact a{
    margin-left: 15px;
} */
button{
    padding: 8px 20px;
    border-radius: 6px;
    background-color: var(--btn-color);
    color: var(--white-color);
    font-size: var(--button-font);
}
/* This is little footer */
.little-footer{
    display: flex;
    justify-content: space-between;
    height: 30px;
}
.logo-item{
   margin-right: 50px;
}
.contact-item{
    margin-left: 50px;
}
.logo-item ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.logo-item i{
   padding: 14px;
}
span{
    font-size: var(--button-font);
    font-weight: 600;
}
.contact-item, span{
    padding:14px 14px ;
}
.contact-item i{
    margin-right:10px;
}
/*  This is thired nav-b ar*/
.sub-nav ul{
   list-style: none;
   display: flex;
   justify-content: space-around;
   font-size: var(--nav-font-size);
   margin-top: 2px;
}
.sub-nav li{
    box-sizing: border-box;
    padding:15px 85px;
    background-color:#0f53e6;
}
.big-btn{
    font-size: var(--button-font);
    color:var(--white-color);
    font-weight: bold;
    border: none;
    box-shadow: inset 1px 1px 10px rgba(1, 0, 0, 0.683);
    border-radius: 5px;
    padding: 9px 20px;
}
.big-btn:hover{
    background-color: #103fa5;
    color:var(--white-color);
}
/* This is accessories */
.accessories .head-part{
   background-color: #08245e; 
   height: 200px;
   margin-top: 2px;
   color: var(--white-color);
}
.head-part h1{
    text-align: center;
    padding-top: 80px;
    letter-spacing: 2px;
    font-size: 60;
    line-height: 56px;
}
.options{
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    margin-left: 150px;
    margin-right: 135px;
}
.bike-car ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
.bike-car li{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 1px;
}
.bike-car a{
    color: black;
}
.bike-car a:hover{
    color: #052b78;
}
select{
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
}
/* This is product section */
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffffc3;
    width: 200px;
    height: 300px;
    box-shadow: 0px 0px 10px 5px rgb(0,0,0,0.1);
}
.detail-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #0e7cea;
    color: var(--white-color);
    height: 150px;
    width: 200px;
    box-shadow: 0px 0px 10px 5px rgb(0,0,0,0.1);
    padding-top: 0px;
}
.amount{
    display: flex;
    justify-content: space-between;
}
.product .y27{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
}
.hsp{
   padding: 5px 30px;
   font-size: 16px;
   font-weight: 600;
}
i{
    padding: 4px;
}
.amount span{
    display: flex; 
    justify-content: space-around;
    padding: 5px 30px;
}
.product img{
    height: 150px;
    width: 150px;
    /* background-color: #74787c; */
}
.product button{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 130px;
    border-style: none;
    margin-left: 38px;
    background-color: #1b49a5;
}
.product button:hover{
    background-color: rgb(8, 28, 111);
}
/* This is product-condainer */
.product-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 100px;
    margin-left: 150px;
    margin-top: 50px;
}
.page-collection ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 70px;
}
.page-collection li{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    color: var(--white-color);
    background-color: #2d74e6;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}
.page-collection li:hover{
    background-color: #093478;
    transform: scale(1.1);
}
.main-footer{
   margin-top: 90px;
}
/*  This is Footer */
footer{
    background-color: var(--primary);
    color: var(--white-color);
    height: 270px;
    margin-top: 50px;

}
.bottom{
    display: flex;
    justify-content: space-between;
   
}
footer ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer ul li{
    list-style: none;
    padding: 7px;
}
.support img{
    width: 110px;
}
.support{
    margin-top:50px ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 250px;
    height: 200px;
    margin-left: 100px;
}
/* .support button{
    width: 150px;
    box-sizing: border-box;
    background-color: var(--white-color);
    color: var(--primary);
} */
.support span{
    font-size: var(--nav-font-size);
}
.about{
    margin-top:50px ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    height: 200px;
    font-size: var(--nav-font-size);
}
.popular{
    margin-top:50px ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    height: 200px;
    font-size: var(--nav-font-size);    
}
.follow{
    margin-right: 100px;
    margin-top: 59px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.application img{
        height: 33px;
        margin-top: 15px;
}
.follow .app{
    height: 130px;
   position: relative;
   right: 40px;
}
/* This is product-tidails-page */
.user{
    margin-top: 2.2%;
    margin-right: 13%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    bottom: 9px;
}
.user ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.user li{
   padding: 15px;
}
.search-bar{
    margin-top: 25px;
    margin-left: 150px;
}
input{
    padding-left: 20px;
    height: 50px;
    width: 500px;
    font-size:var(--button-font);
    color: var(--text-color);
    border-radius: 7px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.982);
}
.search-bar i{
    color: var(--text-color);
    position: relative;
    right: 40px;
}
/* product-details section */
.product-section{
    display: flex;
    justify-content: space-around;
    height: 700px;
    width: 1200px;
    margin-top: 50px;
    margin-left: 150px;
    border-radius: 10px;
    background-color: #ffffff57;
    box-sizing: border-box;
    box-shadow: var(--box-shadow2);
}
.engine{
    height: 400px;
    /* margin-left: 50px; */
    padding: 50px;
}
.products .engine{
    margin-left: 50px;
}
.products ul{
    list-style: none;
    display: flex;
    margin-left: 120px;
}
ul img{
   height: 100px;
   padding: 20px;
}
.products .list{
    margin-left: 20px;
}
.products .list li{
    margin-right: 5px;
}
.products .list button{
    width: 190px;
    border: none;
    padding: 10px;
    font-weight: 600;
}
.products .list button i{
    padding-right: 10px;
}
.product-ditails{
    margin-top: 50px;
    margin-bottom: 90px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.radio{
    height: 15px;
    width: 15px;
    margin-right: 10px;
    font-size:var(--button-font);
    color: var(--text-color);
    border-radius: 7px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.982);
}
form{
   box-sizing: border-box; 
   border: 1px solid gray;
   width: 500px;
   height: 100px;

}
label{
    font-size: 18px;
    padding: 50px;
}
form span{
    padding-left: 80px;
}
.product-ditails .star{
    display: flex;
    background-color: #1a9b2d;
    font-size: 12px;
    font-weight: 600;
    color: var(--white-color);
    padding: 5px 5px;
    width: 45px;
    border-radius: 5px;
}
.star i{
    height: 10px;
}
