@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
/* variable declarations */
:root{
    --primary:black;
    --secondary: #6fcbd6;
    --white-color:white;
    --button-font: 16px;
    --box-shadow: 0 4px 5px 0px #00000026;
    --box-shadow2: 0px 0px 6px 1px #0000002c;
    --pharagraph-font-size:20px;
    --box-phara-font-size:16px;
    --nav-font-size:18px;
    --text-color:#74787c;
    --h1-font: 61px;
    --big-btn-color: #4ea1f4;
    --complain-hover-color:#d12616;
}
/* This is little footer */
/* .little-footer{
    display: flex;
    justify-content: space-between;
    height: 30px;
}
.logo-item{
   margin-right: 50px;
}
.contact-item{
    margin-left: 50px;
}
.logo-item ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.logo-item i{
   padding: 14px;
}
span{
    font-size: var(--button-font);
    font-weight: 600;
}
.contact-item, span{
    padding:14px 14px ;
}
.contact-item i{
    margin-right:10px;
} */
/* This is header section */
header{
    background-color:var(--white-color);
    color:black;
    display: flex;
    justify-content: space-between;
    height: 100px;
    box-sizing: border-box;
    box-shadow: 5px 0px 5px 0px #0000002c;
}
.logo{
    margin-top: 2.5%;
}
.live-on{
    width: 40px;
    margin-left: 20px;
}
.live{
    width: 100px;
}
.center{
    margin-top: 2.5%;
    margin-right: 190px;
}
.center ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.center li{
    padding-left: 20%;
    font-size: var(--nav-font-size);
    font-weight: medium;
    cursor: pointer;
}
.center li a{
    text-decoration: none;
    color: var(--primary);
}
ul li::after{
    content: '';
    background-color:rgb(18, 17, 17);
    display: block;
    height: 2px;
    width: 0%;
    margin: auto;
    transition: 0.3s;

}
.center li:hover::after{
    width: 100%;
}
.user{
    margin-top: 2.2%;
    margin-right: 13%;
}
.user ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.user li{
   padding: 15px;
}
.user, .profile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    bottom: 9px;
}
button{
    padding: 8px 20px;
    border-radius: 6px;
}
/* This is second navbar */
.main-nav{
    display: flex;
    justify-content: space-around;
    background-color:#f6f8fa;
    height: 100px;
    box-shadow:  var(--box-shadow2);
}
.main-nav p:hover{
    color: #0743c5;
}
.email-item{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}
.search-bar{
    margin-top: 25px;
}
input{
    padding-left: 20px;
    height: 50px;
    width: 500px;
    font-size:var(--button-font);
    color: var(--text-color);
    border-radius: 7px;
    border-style: none;
    background-color: white;
    box-shadow: inset 1px 1px 4px;
}
.search-bar i{
    color: var(--text-color);
    position: relative;
    right: 40px;
}
.main-nav img{
    height: 50px;
    margin-right: 5PX;
}
.call-item a{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-right: 80px;
}
.call-item a{
     text-decoration: none;
     color: var(--primary);
}
span{
    margin-top: 8px;
    margin-left: 10px;
}
.bp-item{
    font-size: var(--nav-font-size);
    font-weight: 600;
}
/*  This is thired nav-b ar*/
a{
     text-decoration: none;
   color: var(--white-color);
}
.sub-nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 7px;
}
.sub-nav li{
    box-sizing: border-box;
    padding:15px 80px;
    background-color:#050506;
    font-size: var(--button-font);
    border: none;
    box-shadow: inset 1px 1px 10px rgba(57, 57, 57, 0.683);
    border-radius: 7px 0px;
}
.sub-nav li:hover{
    background-color: #201f1f;
    font-weight: bold;
}
/*  This is Home page animation */
.home-gallery{
    width: 100%;
    height: 700px;
    position: relative;
    /* background-attachment: fixed; */
    background-image: url(../Images/background-2.jpg);
    background-size: 100% 100%;
    /* box-shadow: 1px 2px 10px 5px black; */
    animation: slider 10s infinite linear;
    background-color: rgba(0, 0, 0, 0.594);
    background-blend-mode: multiply;
}
@keyframes slider{
    0%{ background-image: url(../Images/background-2.jpg); }
    /* 10%{ background-image: url(../Images/background-2.jpg);} */
    40%{ background-image: url(../Images/background-3.jpg);}
}
.home-contend{
   margin-top: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.home-contend h1{
   margin-top: 300px;
    font-size:var(--h1-font) ;
    /* max-width: 500px; */
    line-height: 68px;
    color: var(--white-color);
}
.home-contend p{
    font-size: 20px;
    line-height: 25px;
    color: var(--white-color);
    margin-top: 35px;
    /* margin-left: 295px; */
}
.home-contend span{
    font-size: 20px;
    line-height: 25px;
    color: var(--white-color);
    margin-top: 10px;
    /* margin-left: 450px; */
}
.home-contend button{
    margin-top: 20px;
    width: 138px;
    background-color: #fcfcfc;
}
.big-btn{
    font-size: var(--button-font);
    color: black;
    font-weight: bold;
    border: none;
    box-shadow: inset 1px 1px 10px rgba(57, 57, 57, 0.683);
    border-radius: 5px;
    padding: 9px 20px;
}
.big-btn:hover{
    background-color: #212020;
    color:var(--white-color);
}
/* This is our service */
.service-page{
    

    background-color: #ffffff;
    /* position: relative;
    top: 100px; */
    height: 650px;
}
.service-page h2{
    text-align: center;
    font-size: 35px;
    padding-top: 70px;
}
.servicess{
    display: flex;
    justify-content: space-evenly;
    /* width: 1500px; */
    margin-left: 15px;
    margin-top: 70px;
}
.our-service{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    padding-top: 0px;
}
.our-service2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    padding-top: 0px;
}
.bike-service{
    height: 200px;
    display: flex;
    justify-content: space-around;
}
.bike-img{
    height: 160px;
    width: 150px;
    box-shadow: var(--box-shadow);
    
}
.bike{
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
    padding: 5px;
    height: 160px;
    width: 400px;
    padding-top: 35px;
    padding-left: 20px;
}
.car{
    height: 110px;
    width: 110px;
    /* background-color: #88c5cc; */
    border-radius: 5px;
    margin-top: 5px;
}
.car1{
    height: 110px;
    width: 110px;
    /* background-color: #88c5cc; */
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 0px;
}
.bike-service .lube{
   height: 115px;
   width: 115px;
   padding-bottom: 10px;
   background-color: #0a3d7f;
   border-radius: 60px;
}
.bike-service .pic{
    height: 110px;
    width: 130px;
   
}
.our-service,.our-service2, h3{
    text-align: center;
    margin-top: 10px;
}
/* How our webside works */
.process{
   height: 400px;
   margin-top: 80px;
}
.process h1{
    text-align: center;
    font-weight: 600;
    font-size: 36px;
}
.process p{
   text-align: center;
   font-size: 17px;
   font-weight: medium;
   margin-top: 9px;
}
.progress{
   display: flex;
   justify-content: space-between;
   padding: 0px 50px 0px 50px;
   margin-top: 90px;
   margin-left: 50px;
   margin-right: 50px;
}
.timing{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   width: 400px;
   height: 200px;

}
.timing img{
    height: 90px;
    width: 90px;
}
/* .timing p{
    text-align: center;
} */
/* This is product section */
.product-page{
    margin-top: 50px;
}
.product-page h3{
    text-align: center;
    font-weight: 600;
    font-size: 40px;
}
.products-list{
    display: flex;
    gap: 60px;
    overflow: hidden;
    overflow-x: scroll;
    margin: 20px;
    margin-top: 100px;
}
.products-list::-webkit-scrollbar{
    display: none;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eff1f3;
    border-radius: 15px opx;
    width: 350px;
    height: 320px;
    box-shadow: 0px 0px 5px 3px rgb(0,0,0,0.1);
}
.product img{
    height: 200px;
    width: 220px;
    background: var(--white-color);
    padding: 50px;
}
.detail-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 15px 0px ;
    background-color: #09090a;
    height: 120px;
    box-shadow: 0px 0px 10px 5px rgb(0,0,0,0.1);
    color: var(--white-color);
    width: 220px;
    padding-left: 10px;
}
.detail-section, h4, a{
    padding-left: 10px;
}
.part{
    display: flex;
    justify-content: space-evenly;
}
.part-p{
    text-decoration: line-through;
}
.product-page .page{
    position: relative;
    top: 50px;
    left: 700px;
    color: var(--white-color);
}
.product-page button{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 20px;
    width: 110px;
    border-style: none;
    margin-left: 20px;
    color: var(--white-color);
    background-color:#060606;
}
.product-page button:hover{
    background-color: #222425;
}
/* This is footer */
/* footer{
    background-color: var(--primary);
    color: var(--white-color);
    height: 270px;
    margin-top: 100px;
}
.bottom{
    display: flex;
    justify-content: space-between;
}
footer ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer ul li{
    list-style: none;
    padding: 7px;
}
.support img{
    width: 110px;
}
.support{
    margin-top:50px ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 250px;
    height: 200px;
    margin-left: 100px;
}
.support button{
    width: 150px;
    box-sizing: border-box;
    color: var(--primary);
    font-size: var(--nav-font-size);
    font-weight: 600;
    background-color: var(--big-btn-color);
}
.support button:hover{
    background-color: #0d60b8;
    color:var(--white-color);
}
.support span{
    font-size: var(--nav-font-size);
}
.about{
    margin-top:50px ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    height: 200px;
    font-size: var(--nav-font-size);
}
.popular{
    margin-top:50px ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    height: 200px;
    font-size: var(--nav-font-size);    
}
.follow{
    margin-right: 100px;
    margin-top: 59px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.application img{
        height: 33px;
        margin-top: 15px;
}
.follow .app{
    height: 130px;
   position: relative;
   right: 40px;
} */
@media only screen and (max-width: 450px){
    body,html{
        /* overflow-x: hidden; */
    }
    header{
        width: 100%;
    }
} 
