@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
/* variable declarations */
:root{
    --primary:black;
    --secondary: #6fcbd6;
    --white-color:white;
    --button-font: 16px;
    --box-shadow: 0 4px 5px 0px #00000026;
    --box-shadow2: 0px 0px 5px 1px #00000080;
    --pharagraph-font-size:20px;
    --box-phara-font-size:16px;
    --nav-font-size:18px;
    --text-color:#74787c;
    --h1-font: 61px;
    --big-btn-color: #4ea1f4;
    --complain-hover-color:#d12616;
}
/* This is header section */
header{
    background-color:#163891;
    color:var(--white-color);
    display: flex;
    justify-content: space-between;
    height: 100px;
    box-sizing: border-box;
    box-shadow: var(--box-shadow2);
}
.logo{
    margin-top: 2.5%;
}
.logo img{
    width: 110px;
    margin-left: 35%;
}
.center{
    margin-top: 2.5%;
    margin-right: 190px;
}
.center ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.center li{
    padding-left: 20%;
    font-size: var(--nav-font-size);
    font-weight: medium;
    cursor: pointer;
}
.center li a{
    text-decoration: none;
    color: var(--white-color);
}
ul li::after{
    content: '';
    background-color:white;
    display: block;
    height: 2px;
    width: 0%;
    margin: auto;
    transition: 0.3s;

}
.center li:hover::after{
    width: 100%;
}
.user{
    margin-top: 2.2%;
    margin-right: 13%;
}
.user ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.user li{
   padding: 15px;
}
.user, .profile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    bottom: 9px;
}
button{
    padding: 8px 20px;
    border-radius: 6px;
}
/* This is second navbar */
.main-nav{
    display: flex;
    justify-content: space-around;
    background-color:#f6f8fa;
    height: 100px;
    box-shadow:  var(--box-shadow2);
}
.main-nav p:hover{
    color: #0743c5;
}
.email-item{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}
.search-bar{
    margin-top: 25px;
}
input{
    padding-left: 20px;
    height: 50px;
    width: 500px;
    font-size:var(--button-font);
    color: var(--text-color);
    border-radius: 7px;
    border-style: none;
    background-color: white;
    box-shadow: inset 1px 1px 4px;
}
.search-bar i{
    color: var(--text-color);
    position: relative;
    right: 40px;
}
.main-nav img{
    height: 50px;
    margin-right: 5PX;
}
.call-item a{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-right: 80px;
}
.call-item a{
     text-decoration: none;
     color: var(--primary);
}
span{
    margin-top: 8px;
    margin-left: 10px;
}
.bp-item{
    font-size: var(--nav-font-size);
    font-weight: 600;
}
/*  This is thired nav-b ar*/
a{
     text-decoration: none;
   color: var(--white-color);
}
.sub-nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: var(--nav-font-size);
    margin-top: 2px;
 }
 .sub-nav li{
     box-sizing: border-box;
     padding:15px 85px;
     background-color:#0f53e6;
 }
 .big-btn{
     font-size: var(--button-font);
     color:var(--white-color);
     font-weight: bold;
     border: none;
     box-shadow: inset 1px 1px 10px rgba(1, 0, 0, 0.683);
     border-radius: 5px;
     padding: 9px 20px;
 }
 .big-btn:hover{
     background-color: #103fa5;
     color:var(--white-color);
 }
 /* This is little footer */
.little-footer{
    display: flex;
    justify-content: space-between;
    height: 30px;
}
.logo-item{
   margin-right: 50px;
}
.contact-item{
    margin-left: 50px;
}
.logo-item ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.logo-item i{
   padding: 14px;
}
span{
    font-size: var(--button-font);
    font-weight: 600;
}
.contact-item, span{
    padding:14px 14px ;
}
.contact-item i{
    margin-right:10px;
}
 /* This is our service page */

/* This is footer */
footer{
    background-color: var(--primary);
    color: var(--white-color);
    height: 270px;
    margin-top: 100px;
}
.bottom{
    display: flex;
    justify-content: space-between;
}
footer ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer ul li{
    list-style: none;
    padding: 7px;
}
.support img{
    width: 110px;
}
.support{
    margin-top:50px ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 250px;
    height: 200px;
    margin-left: 100px;
}
.support button{
    width: 150px;
    box-sizing: border-box;
    color: var(--primary);
    font-size: var(--nav-font-size);
    font-weight: 600;
    background-color: var(--big-btn-color);
}
.support button:hover{
    background-color: #0d60b8;
    color:var(--white-color);
}
.support span{
    font-size: var(--nav-font-size);
}
.about{
    margin-top:50px ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    height: 200px;
    font-size: var(--nav-font-size);
}
.popular{
    margin-top:50px ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    height: 200px;
    font-size: var(--nav-font-size);    
}
.follow{
    margin-right: 100px;
    margin-top: 59px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.application img{
        height: 33px;
        margin-top: 15px;
}
.follow .app{
    height: 130px;
   position: relative;
   right: 40px;
}
