@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
/* variable declarations */
:root{
    --primary:black;
    --secondary: #6fcbd6;
    --white-color:white;
    --button-font: 16px;
    --box-shadow: 0 4px 5px 0px #00000026;
    --box-shadow2: 0px 0px 5px 1px #00000080;
    --pharagraph-font-size:20px;
    --box-phara-font-size:16px;
    --nav-font-size:18px;
    --text-color:#74787c;
    --btn-color:#0f53e6;
    --btn-hover: #103fa5;
    --h1-font:61px;
    --complain-hover-color:#d12616;
}
header{
    background-color:#040405;
    color:var(--white-color);
    display: flex;
    justify-content: space-between;
    height: 100px;
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
}
.checkbtn{
    font-size: 22px;
    color: white;
    float: right;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.logo{
    margin-top: 2.5%;
}
.live-on{
    width: 40px;
    margin-left: 20px;
}
.live{
    width: 100px;
    filter: invert(100%) sepia(33%) saturate(7125%) hue-rotate(187deg) brightness(130%) contrast(96%);
}
.center{
    margin-top: 2.5%;
}
.center ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
}
.center li{
    padding-left: 50px;
    font-size: var(--nav-font-size);
    font-weight: medium;
    cursor: pointer;
}
.center a{
    text-decoration: none;
    color: var(--white-color);
}
.center a:hover{
    color: var(--white-color);
}
ul li::after{
    content: '';
    background-color:white;
    display: block;
    height: 2px;
    width: 0%;
    margin: auto;
    transition: 0.3s;
}
.center li:hover::after{
    width: 100%;
}
.contact{
    margin-top: 2.1%;
    margin-right: 3%;
}
.contact a{
    margin-left: 15px;
}
.contact button{
    border-radius: 6px;
    font-weight: var(--nav-font-size);
    background-color: white;
    color: black;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.594);
    font-size: var(--button-font);
    font-weight: 600;
    margin-top: 2.2%;
}
/* This is first section */
.top-section{
      display: flex;
      justify-content: space-between;
      height: 700px;
}
.left-item{
   display: flex;
   flex-direction: column;
   margin-left: 10%;
   margin-top: 12%;
   /* justify-content:center; */
}
.left-item h1{
    font-size: var(--h1-font);
    max-width: 500px;
    line-height: 68px;
}
.left-item p{
    font-size: 20px;
    line-height: 25px;
    margin-top: 1%;
}
.big-btn{
    font-size: var(--button-font);
    font-weight: 600;
    border: none;
    background-color: var(--btn-color);
    color: var(--white-color);
    border-radius: 5px;
    padding: 9px 20px;
    margin-top: 4%;
}
.big-btn:hover{
    background-color: var(--btn-hover);
    color:var(--white-color);
}
.right-item img{
    background-color:var(--secondary);
    width: 800px;
    height: 400px;
    margin-top: 22%;
    margin-right: 100px;
}
/* Thgis is second section */
.second-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* height: 500px; */
}
.second-section h1{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
}
.item-gallary{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    margin-right: 50px;
}
.item img{
    height:  170px;
    padding: 40px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.511);
}
.item,.door{
   height: 200px;
}
.item img:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
    transition: 0.5s;
}
.item ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.item li{
    padding: 5px 80px;
}
.item{
    margin-top: 90px;
}
.list{
    margin-left: 40px;
    margin-right: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-right: 10px;
}
.ad{
    border: 2px solid black;
    padding: 20px;
    margin-left: 145px;
    margin-right: 160px;
}
.ad img{
    width: 1150px;
}
/* This is booking section */
.booking{ 
  background-color: #ffffff;
  height: 800px;
  width: 100%;
  margin-top: 50px;
}
.appoinment{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 100px;
    /* background-image: url(../../assets/Images/12345678.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
    height: 440px; */
    /* background-color: rgba(0, 0, 0, 0.555);
    background-blend-mode: multiply; */
}
.booking-service img{
   height: 600px;
   width: 800px;
   margin-top: 50px;
}
form{
  margin-top: 100px;
 
}
.booking h1{
    text-align: center;
    padding-top: 50px;
    color: var(--primary);
}
fieldset{
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    border: 2px black solid;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.619);
    background: #3670ff;
}
input, select{
    height: 50px;
    width: 300px;
    padding: 0px 20px;
    border-radius: 9px;
    border-style: none;
    font-weight: 600;
    background-color: #ffffff;
}
button:hover{
    background-color: #0c53e9;
    color: var(--white-color);
}
.booking-btn{
    height: 50px;
    width: 300px;
    padding: 0px 20px;
    border-radius: 9px;
    border-style: none;
    font-weight: 600;
    color: #000000;
    background-color: #163891;
}
button a{
    color: white;
    text-decoration: none;
}

/* This is thired section */
.thired-section h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}
.love-us{
    background: #0f53e6;
    /* height:450px ; */
}
.review{
   display: flex;
   gap: 50px;
   margin-top: 10px;
}
.review-page{
    overflow: hidden;
    overflow-x: scroll;
    height: 350px;
    margin: 0px 110px;
}
.review-page::-webkit-scrollbar{
    display: none;
}
.love-us .replay{
    position: relative;
    top: 200px;
    left: 30px;
}
.love-us .forward{
    position: relative;
    top: 200px;
    left: 1360px;
}
.customar{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    width: 280px;
    height: 280px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.461);
    border-radius: 5px;
    letter-spacing: 1px;
}
.people{
    display: flex;
    margin-right: 120px;
}
.people img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
/* .girls, img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    
} */
.people h5{
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
}
span{
    display: block;
    margin-left: 10px;
}
.review p{
    font-size: 14px;
    height: 180px;
    width: 240px; 
    padding: 10px 15px;
    border-radius: 6px;
    background-color: #eae7e8c5;
}
.review .ratting{
    height: 14px;
    width: 60px;
    margin-top: 0px;
    margin-bottom: 13px;
    filter: invert(75%) sepia(20%) saturate(4370%) hue-rotate(359deg) brightness(99%) contrast(93%);
}
/*  This is Footer */
footer{
    background-color: var(--primary);
    color: var(--white-color);
    height: 370px;
    margin-top: 100px;
}
footer a{
    color: var(--white-color);
    text-decoration: none;
}
.bottom{
    display: flex;
    justify-content: space-between;
}
footer ul{
    margin: 20px 0px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer  li{
    list-style: none;
    padding: 7px 5px;
}
.support img{
    width: 150px;
    margin-bottom: 20px;
}
.support{
    margin-top:70px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    font-size: 18px;
    height: 200px;
    margin-left: 100px;
}
.support button{
    width: 170px;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 5px 20px;
    border-radius: 6px;
    color: var(--white-color);
    font-size: var(--nav-font-size);
    font-weight: 600;
    background-color: #0d60b8;
}
.support button:hover{
    background-color: #053a74;
    color:var(--white-color);
}
.support span{
    font-size: var(--nav-font-size);
}
.about{
    margin-top:100px ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: auto;
    height: 200px;
    font-size: var(--nav-font-size);
}
.popular{
    margin-top:100px ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: auto;
    height: 200px;
    font-size: var(--nav-font-size);    
}
.follow{
    margin-right: 100px;
    margin-top: 59px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.application img{
    height: 33px;
    margin-top: 20px;
}
.follow .app{
    height: 130px;
    position: relative;
    right: 40px;
}

@media (max-width: 450px){
    body{
        background-color: #000000;
    }
    .bottom{
        display: block;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }
    footer{
        height: auto;
    }
    footer p{
        margin: 0px;
    }
    .booking-service{
        display: none;
    }
    .appoinment{
        margin: 20px;
    }
    .ad img{
        width: 350px;
    }
    .ad{
        margin: 0px 20px;
        padding: 5px;
    }
    .item ul{
        display: block;

    }
    .right-item{
        display: none;
    }
    .contact{
        display: none;
    }
    .center{
        width: 410px;
    }
    .review-page{
        overflow: hidden;
        overflow-x: scroll;
        height: 350px;
        margin: 0px 70px;
    }
    .love-us .replay , .love-us .forward{
        display: none;
    }
    .item-gallary{
        margin-bottom: 400px;
    }
    .center ul li{
        font-size: 10px;
        display: flex;
        justify-content: space-between;
        gap: 5px;
       padding: 5px;
    }
    .margin ul{
        margin-left: 20px;
    }
    .logo{
        width: 90px;
    }
    header{
        height: 50px;
    }
}