@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
/* variable declarations */
:root{
    --primary:black;
    --secondary: #6fcbd6;
    --white-color:white;
    --button-font: 16px;
    --box-shadow: 0 4px 5px 0px #00000026;
    --box-shadow2: 0px 0px 5px 1px #00000080;
    --pharagraph-font-size:20px;
    --box-phara-font-size:16px;
    --nav-font-size:18px;
    --text-color:#74787c;
    --btn-color:#82b440;
    --btn-hover: #892474;
    --h1-font:61px;
    --complain-hover-color:#d12616;
}
header{
    background-color:var(--primary);
    color:var(--white-color);
    display: flex;
    justify-content: space-between;
    height: 100px;
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
}
.logo{
    margin-top: 2.5%;
}
.logo img{
    width: 110px;
    margin-left: 35%;
}
.center{
    margin-top: 2.5%;
}
.center ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
}
.center li{
    padding-left: 50px;
    font-size: var(--nav-font-size);
    font-weight: medium;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: var(--white-color);
}
ul li::after{
    content: '';
    background-color:white;
    display: block;
    height: 2px;
    width: 0%;
    margin: auto;
    transition: 0.3s;
}
.center li:hover::after{
    width: 100%;
}
.contact{
    margin-top: 2.2%;
    margin-right: 3%;
}
.contact a{
    margin-left: 15px;
}
.contact button{
    border-radius: 6px;
    font-weight: var(--nav-font-size);
    background-color: var(--btn-color);
    color: var(--white-color);
    font-size: var(--button-font);
    margin-top: 2.2%;
}
/* This is first section */
.top-section{
      display: flex;
      background-color:var(--secondary);
      justify-content: space-between;
      height: 700px;
}
.left-item{
   display: flex;
   flex-direction: column;
   margin-left: 10%;
   margin-top: 12%;
   /* justify-content:center; */
}
.left-item h1{
    font-size: var(--h1-font);
    max-width: 500px;
    line-height: 68px;
}
.left-item p{
    font-size: 20px;
    line-height: 25px;
    margin-top: 3%;
}
.big-btn{
    font-size: var(--button-font);
    font-weight: 600;
    border: none;
    background-color: var(--btn-color);
    color: var(--white-color);
    border-radius: 5px;
    padding: 9px 20px;
    margin-top: 8%;
}
.big-btn:hover{
    background-color: var(--btn-hover);
    color:var(--white-color);
}
.right-item img{
    background-color:var(--secondary);
    width: 800px;
    height: 400px;
    margin-top: 30%;
}
/* Thgis is second section */
.second-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 600px;
    background-color: #e4e7ea;
}
.second-section h1{
    text-align: center;
    margin-top: 70px;
    font-size: 40px;
    letter-spacing: 2px;
}
.item-gallary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    margin: 10px 100px;
}
.item img{
    height: 90px;
}
.item .door{
    height: 130px;
}
.item{
    width: 280px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 20px;
}
.item:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
    transition: 0.5s;
}
/* This is booking section */
.booking{ 
  /* background-color: #ffffff; */
  height: 800px;
  width: 100%;
}
.appoinment{
    background-image: url(../Images/app-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
    height: 740px;
    background-color: rgba(0, 0, 0, 0.555);
    background-blend-mode: multiply;
}
form{
  /* float: right; */
  margin-left: 550px;
  margin-top: 50px;
}
.appoinment h1{
    text-align: center;
    padding-top: 50px;
    color: var(--white-color);
}
fieldset{
    height: 520px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    border: 1px white solid;
    box-shadow: var(--box-shadow2);
}
input, select, .booking-btn{
    margin-top: 10px;
    height: 50px;
    width: 300px;
    padding: 5px 20px;
    border-radius: 9px;
    border-style: none;
    font-weight: 600;
    color: #636364;
    background-color: rgb(255, 255, 255)
}
button:hover{
    background-color: rgb(165, 43, 202);
    color: var(--white-color);
}
button a{
    color: var(--primary);
}

/* This is thired section */
.thired-section h1{
    text-align: center;
    margin-top: 50px;
}
.review{
   display: flex;
   gap: 80px;
   margin-top: 50px;
}

.review-page{
    overflow: hidden;
    overflow-x: scroll;
    height: 250px;
    margin: 20px;
}
.review-page::-webkit-scrollbar{
    display: none;
}
.customar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 350px;
    height: 210px;
    padding: 20px;
    background-color: #f78294;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    letter-spacing: 1px;
}
.review, .girl{
    height: 60px;
    width: 60px;
    border-radius: 50px;
}
.review p{
    font-size: 14px;
    width: 300px; 
   
}
.review .ratting{
    height: 13px;
    margin-top: 0px;
}
/*  This is Footer */
footer{
    background-color: var(--primary);
    color: var(--white-color);
    height: 270px;
    margin-top: 100px;
}
.bottom{
    display: flex;
    justify-content: space-between;
}
footer ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer ul li{
    list-style: none;
    padding: 7px;
}
.support img{
    width: 110px;
}
.support{
    margin-top:50px ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 250px;
    height: 200px;
    margin-left: 100px;
}
/* .support button{
    width: 150px;
    box-sizing: border-box;
    background-color: var(--white-color);
    color: var(--primary);
} */
.support span{
    font-size: var(--nav-font-size);
}
.about{
    margin-top:50px ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    height: 200px;
    font-size: var(--nav-font-size);
}
.popular{
    margin-top:50px ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    height: 200px;
    font-size: var(--nav-font-size);    
}
.follow{
    margin-right: 100px;
    margin-top: 59px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.application img{
        height: 33px;
        margin-top: 15px;
}
.follow .app{
    height: 130px;
   position: relative;
   right: 40px;
}
